Repository hmcts/hmc-hmi-outbound-adapter, pull requests merged in 2022-07, with the labels that each got.

#90 CCD-2496 Update all repos with multi arch base images
  Dockerfile
  acb.tpl.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-90

#124 Update to dependencies for CVE Fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-124

#127 CCD-3561 Upgrade Java and Node JS versions in chart for all the respe…
  charts/hmc-hmi-outbound-adapter/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-127

#121 HMAN-312 Investigate Outbound Adapter stopping reading from the queue
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/main/java/uk/gov/hmcts/reform/hmc/Application.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/MessageReceiverConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/hmc/errorhandling/ServiceBusMessageErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/MessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/hmc/client/featurehearing/ServiceBusMessageErrorHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-121
