Repository hmcts/hmc-hmi-outbound-adapter, pull requests merged in 2024-08, with the labels that each got.

#222 enable fortify failure
  build.gradle
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-222

#227 Bump service bus to 1.0.6 to fix master
  charts/hmc-hmi-outbound-adapter/Chart.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-227

#226 Chart upgrades
  charts/hmc-hmi-outbound-adapter/Chart.yaml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-226
