Repository hmcts/hmc-hmi-outbound-adapter, pull requests merged in 2025-06, with the labels that each got.

#243 Update build.gradle
  build.gradle
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-243

#241 HMAN-997 - potential duplicate request being sent to HMI
  src/main/java/uk/gov/hmcts/reform/hmc/repository/PendingRequestRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/MessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-241

#246 HMAN-1000 - Audit entry to record HMC to HMI auth token call
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorIT.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/repository/FutureHearingRepositoryIT.java
  src/integrationTest/resources/sql/insert-case_hearing_request.sql
  src/main/java/uk/gov/hmcts/reform/hmc/client/futurehearing/HearingManagementInterfaceResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/constants/Constants.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/DefaultFutureHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/FutureHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/HearingStatusAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/MessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PendingRequestService.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PendingRequestServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/config/MessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/repository/FutureHearingRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/PendingRequestServiceImplTest.java
Labels: ns:hmc, prd:hmc, enable_keep_helm, rel:hmc-hmi-outbound-adapter-pr-246

#259 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-259

#244 CME-621 bump versions
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/resources/application-itest.yaml
  src/main/java/uk/gov/hmcts/reform/hmc/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/CaseHearingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/HearingStatusAuditEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/data/PendingRequestEntity.java
  src/main/java/uk/gov/hmcts/reform/hmc/repository/DefaultFutureHearingRepository.java
  src/main/java/uk/gov/hmcts/reform/hmc/service/PendingRequestServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/service/PendingRequestServiceImplTest.java
Labels: ns:hmc, prd:hmc, rel:hmc-hmi-outbound-adapter-pr-244
